html,
body,
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
}

body {
    background-color: #16161A;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffffe;
}

.container-auth {
    padding: 30px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    color: #16161A;
}

.container-auth-form {
    width: 400px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.form-field>input {
    border: none;
    height: 40px;
    padding: 10px;
    background: #DBDCDE;
    color: #16161A;
}

.form-field>select {
    border: none;
    height: 40px;
    padding: 10px;
    background: #DBDCDE;
}

.form-auth,
#formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formulario>button {
    border: none;
    height: 40px;
    padding: 10px;
    background: #1f276f;
    border-radius: 25px;
    color: #fffffe;
    cursor: pointer;
    font-size: 17px;
}

.actionButton {
    color: #1f276f;
    font-weight: bolder;
}